* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #0a0a0a;
    background-color: #84B9BF;
    padding: 20px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}


h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}




.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.fade {
    -webkit-animation: fade 1.5s ease-in-out;
    animation: fade 1.5s ease-in-out;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


h2 {
    color: #555;
    margin-top: 20px;

}


h3 {
    color: #666;
    margin: 10px 0;
    margin-bottom: 30px;
    line-height: 1.8;
    margin: 27px;

}


.button-container {
    margin: 20px;
}

.button-container button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

p {
    margin-bottom: 30px;
    line-height: 1.8;

    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1,
h2,
p {
    padding: 0 10px;
    text-align: center;
}

.button-container button {
    background-color: #475e77;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}


.button-container button:hover {
    background-color: #0056b3;
}


.button-container button:active {
    background-color: #004080;
    transform: scale(0.98);
}


.button-container button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}